<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621239592737-nbruhrg3tghb7o80cuidfeb6mvk8d16s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621239592737-nbruhrg3tghb7o80cuidfeb6mvk8d16s</string>
	<key>API_KEY</key>
	<string>AIzaSyAql-9FJ-o4gOm97yyRf7Oq0N33XK0t5Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>621239592737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qvent</string>
	<key>PROJECT_ID</key>
	<string>qvent-74d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>qvent-74d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621239592737:ios:cc919f30f913cb486f4060</string>
</dict>
</plist>